
@media only screen and (max-width : 989px) {
	section{
		width:90%;
		margin:5%;
	}
}



/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 481px) and (max-width : 768px) {

	figure {
		width:32.3%;
	}
   .popup p {
		float:right;
		width:30%;
	}
	.popup figure {
		width:66%;
	}

}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {

	figure {
		width:49%;
	}
	.popup p {
		float:right;
		width:100%;
	}
	.popup figure {
		width:100%;
	}
}

@media only screen and  (min-width : 10px) and (max-width : 320px) {

	section{
		width:280px;
	}
	figure {
		width:49%;
	}
	.popup p {
		float:right;
		width:100%;
	}
	.popup figure {
		width:100%;
	}
}


